@import '../variables/index';

@include block(footer) {
  background-color: $blue-dark-2;
  display: inline-block;
  padding: 55px 20px;
  width: 100%;

  @include element(text) {
    color: $text-cloudy-blue;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
