@import '../variables/index';

@include block('header') {
  background: $header-background-color;
  height: $header-height-big-screen;
  left: 0;
  padding: $header-padding-big-screen;
  position: fixed;
  top: 0;
  transition: background .2s ease-out;
  width: 100%;
  z-index: 10;

  @include element('logo') {
    svg {
      fill: url(#gradient);
    }
  }

  @include bem('navigation') {
    float: right;
  }

  @include element('menu-button') {
    display: none;
    float: right;
    height: $header-height-big-screen;
    line-height: $header-height-big-screen;

    @include bem('icon') {
      cursor: pointer;
      vertical-align: middle;
      width: 40px;

      svg {
        stroke: $blue-dark-1;
      }
    }
  }

  @include bem('icon', 'logo_text') {
    svg {
      fill: $icon-color-logo-text-active;
    }
  }

  @include modifier(transparent) {
    background: transparent;

    @include element('logo') {
      svg {
        fill: $icon-color-logo;
      }
    }

    @include element('menu-button') {
      @include bem('icon') {
        svg {
          stroke: $white;
        }
      }
    }

    @include bem('navigation', 'list') {
      @include bem('navigation', 'item') {
        @include bem('navigation', 'link') {
          color: $text-white;
          &:hover {
            color: $text-white;
          }
        }
      }
    }
  }

  @include max-screen(991px) {
    @include bem('navigation') {
      display: none;
    }

    @include element('menu-button') {
      display: inline-block;
    }
  }

  @include max-screen(768px) {
    height: $header-height-small-screen;
    padding: $header-padding-small-screen;

    @include bem('logo') {
      height: $header-height-small-screen;
      line-height: $header-height-small-screen;
    }

    @include element('menu-button') {
      display: inline-block;
      float: right;
      height: $header-height-small-screen;
      line-height: $header-height-small-screen;

      @include bem('icon') {
        width: 36px;
      }
    }
  }
}
