@import '../variables/index';

@include block(header) {
  background: $header-background-color;
  height: 100px;
  left: 0;
  padding: 0 55px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  @include element('logo') {
    svg {
      fill: $icon-color-logo--active;
    }
  }

  @include element('navigation') {
    display: inline-block;
    @include block('navigation') {
      @include element('link') {
        color: $text-white;
      }
    }
  }

  @include modifier(transparent) {
    background: transparent;

    @include element('logo') {
      svg {
        fill: $icon-color-logo;
      }
    }

    @include element('navigation') {
      @include block('navigation') {
        @include element('link') {
          color: $blue;
        }
      }
    }
  }

}
