@import '../variables/index';

@include block(header) {
  background: $header-background-color;
  height: 100px;
  left: 0;
  padding: 0 55px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  @include modifier(transparent) {
    background: transparent;
  }

}
