@import '../variables/index';

@include block('early') {
  background: $blue;
  background-image: url('_images/sea-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  min-height: 100vh;
  text-align: center;
  width: 100%;

  @include element('heading') {
    color: $text-white;
    display: inline-block;
    font-family: $font-bold;
    font-size: 65px;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 32vh;
    padding: 0 15px;
    text-transform: uppercase;
    width: 100%;

    @include max-screen(1440px) {
      font-size: 50px;
    }

    @include max-screen(768px) {
      font-size: 36px;
      margin-top: 26vh;
    }

    @include max-screen(515px) {
      font-size: 36px;
      line-height: 1.35;
      margin-top: 26vh;
    }

    @include max-screen(395px) {
      margin-top: 120px;
    }

    @include element('subelement') {
      background: gray;
    }
  }

  @include element('text') {
    color: $text-white;
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.7;
    margin: 20px auto;
    padding: 0 15px;
    width: 100%;
    max-width: 760px;

    @include max-screen(1440px) {
      font-size: 20px;
    }

    @include max-screen(992px) {
      font-size: 18px;
    }

    @include max-screen(768px) {
      font-size: 16px;
    }

    @include max-screen(515px) {
      font-size: 15px;
    }
  }

  @include element('button') {
    display: block;
    margin: 30px auto 70px;
    box-shadow: 0 15px 20px 0 rgba(0, 18, 32, 0.3);
  }
}

@include block('about') {
  background: $section-background-white;
  color: $text-black;
  padding: $section-paddding-big-screen;
  text-align: center;

  @include element('text') {
    display: inline-block;
    font-size: 20px;
    line-height: 1.8;
    max-width: 900px;
    width: 100%;

    @include max-screen(1440px) {
      font-size: 16px;
      max-width: 780px;
    }

    @include max-screen(992px) {
      font-size: 15px;
    }

    @include max-screen(515px) {
      font-size: 14px;
    }
  }

  @include max-screen(992px) {
    padding: 70px 15px;
  }

  @include max-screen(515px) {
    padding: 45px 10px;
  }
}

@include block('features') {
  background: $section-background-gray;
  color: $text-black;
  padding: $section-paddding-big-screen;
  text-align: center;

  @include element('text') {
    color: $text-black;
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin: 20px auto;
    width: 100%;
  }

  @include element('button') {
    display: block;
    margin: 30px auto;
  }

  @include max-screen(992px) {
    padding: 70px 15px;
  }

  @include max-screen(515px) {
    padding: 45px 10px;
  }
}

@include block('subscribe') {
  background: $cerulean;
  color: $text-black;
  padding: $section-paddding-big-screen;
  text-align: center;

  @include element('text') {
    color: $text-white;
    display: block;
    font-family: $font-regular;
    font-size: 30px;
    font-weight: 300;
    margin: 0 auto 25px;
    width: 100%;
  }

  @include bem('button') {
    font-family: $font-regular;
  }

  @include max-screen(992px) {
    padding: 70px 15px;
  }

  @include max-screen(515px) {
    padding: 80px 10px;

    @include element('text') {
      font-size: 26px;
      margin-bottom: 30px;
    }
  }
}

@include block('contact') {
  background: $section-background-white;
  color: $text-black;
  padding: 95px 0px 0px;
  text-align: center;

  @include element('info') {
    margin-bottom: 30px;
  }

  @include element('item') {
    display: inline-block;
    margin-bottom: 30px;

    @include max-screen(992px) {
      text-align: center;
      margin-bottom: 15px;

      @include bem('icon') {
        float: none;
      }

      @include element('descr') {
        float: none;
        padding: 0 12px;
        width: 210px;

        @include modifier('mail') {
          padding: 5px 12px;
        }
      }
    }

    @include bem('icon') {
      color: $blue;
      display: inline-block;
      float: left;
      vertical-align: top;
      width: 25px;

      @include modifier('mail') {
        margin-top: 7px;
        width: 30px;
      }
    }

    @include element('descr') {
      color: $charcoal-grey;
      display: inline-block;
      float: right;
      font-size: 16px;
      line-height: 1.5;
      padding: 5px 12px;
      text-align: left;
      vertical-align: top;
      width: calc(100% - 32px);
    }
  }

  @include max-screen(992px) {
    padding-top: 70px;
  }

  @include max-screen(515px) {
    padding-top: 45px;
  }
}

@include block('world') {
  @extend .about;

  @include element('icon', true) {
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;

    & svg {
      fill: $world-map-color;
    }
  }

  @include element('block') {
    display: block;
    height: 660px;
    margin: 0 auto;
    position: relative;
    width: 1024px;

    @include max-screen(768px) {
      display: none;
    }
  }

  @include element('tooltip') {
    cursor: pointer;
    display: block;
    height: 24px;
    margin: -4px 0 0 -4px;
    position: absolute;
    width: 24px;

    @include element('point') {
      display: block;
      height: 24px;
      width: 24px;
    }

    @include element('marker-title') {
      color: $blue-dark-2;
      display: block;
      font-size: 16px;
      font-weight: bold;
      left: 12px;
      letter-spacing: 1px;
      line-height: 1.5;
      position: absolute;
      text-transform: uppercase;
      transform: translateX(-50%);
      user-select: none;
      white-space: nowrap;
    }

    @include element('tooltip-block') {
      background-color: $white;
      border-radius: 5px;
      bottom: 36px;
      box-shadow: 0 10px 40px 0 rgba(23, 28, 63, 0.1);
      cursor: default;
      display: inline-block;
      margin-left: -180px;
      opacity: 0;
      padding: 25px;
      position: absolute;
      transition: opacity .3s ease-out;
      transition-delay: 200ms;
      visibility: hidden;
      width: 360px;

      @include max-screen(1400px) {
        margin-left: -100px;
      }

      @include max-screen(1220px) {
        margin-left: -60px;
      }

      @include max-screen(1150px) {
        display: none;
      }

      @include element('title') {
        color: $blue-dark-2;
        display: inline-block;
        font-family: $font-medium;
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 0;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
      }

      @include element('title-descr') {
        color: $charcoal-grey;
        display: inline-block;
        font-size: 15px;
        margin-bottom: 0;
        text-align: left;
        width: 100%;
      }

      @include element('user') {
        display: inline-block;
        width: 100%;
        margin: 12px 0 0;

        @include element('avatar') {
          display: inline-block;
          float: left;
          vertical-align: top;

          img {
            border-radius: 50%;
            display: block;
            height: 65px;
            width: 65px;
          }
        }

        @include element('user_name') {
          display: inline-block;
          float: right;
          width: calc(100% - 70px);
          color: $charcoal-grey;
          font-family: $font-bold;
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          padding-left: 10px;
          margin-top: 2px;
        }

        @include element('user_descr') {
          display: inline-block;
          float: right;
          width: calc(100% - 70px);
          color: $blue-grey;
          font-size: 13px;
          text-align: left;
          padding-left: 10px;
        }
      }

      @include element('item') {
        display: inline-block;
        width: 100%;

        @include bem('icon') {
          color: $blue;
          display: inline-block;
          float: left;
          vertical-align: top;
          width: 20px;

          @include modifier('mail') {
            margin-top: 10px;
            width: 24px;
          }
        }

        @include element('descr') {
          color: $charcoal-grey;
          display: inline-block;
          float: right;
          font-size: 14px;
          line-height: 1.5;
          padding: 2px 10px;
          text-align: left;
          vertical-align: top;
          width: calc(100% - 30px);
          margin-bottom: 0;

          @include modifier('mail') {
            margin-top: 5px;
          }
        }
      }

    }

    &:hover {
      @include bem('world', 'tooltip-block') {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}