@import '../variables/index';

@include block(early) {
  background: $blue;
  background-image: url('_images/sea-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  width: 100%;

  @include element(heading) {
    color: $text-white;
    display: inline-block;
    font-size: 65px;
    line-height: 1.25;
    margin-bottom: 20px;
    margin-top: 32vh;
    padding: 0px 10px;
    text-transform: uppercase;
    width: 100%;

    @include max-screen(1440px) {
      font-size: 50px;
    }

    @include max-screen(768px) {
      font-size: 36px;
    }

    @include element(subelement) {
      background: gray;
    }
  }

  @include element(text) {
    color: $text-white;
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.7;
    margin: 20px auto;
    padding: 0px 10px;
    width: 100%;
    max-width: 760px;

    @include max-screen(1440px) {
      font-size: 20px;
    }
  }

  @include element(button) {
    display: block;
    margin: 30px auto;
    box-shadow: 0 15px 20px 0 rgba(0, 18, 32, 0.3);
  }
}

@include block(about) {
  background: $section-background-white;
  box-sizing: border-box;
  color: $text-black;
  padding: 95px 15px;
  text-align: center;
  width: 100%;

  @include element(text) {
    display: inline-block;
    font-size: 20px;
    line-height: 1.8;
    max-width: 900px;
    width: 100%;

    @include max-screen(1440px) {
      font-size: 16px;
      max-width: 780px;
    }
  }
}

@include block(features) {
  background: $section-background-gray;
  box-sizing: border-box;
  color: $text-black;
  padding: 95px 15px;
  text-align: center;
  width: 100%;

  @include element(text) {
    color: $text-black;
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin: 20px auto;
    width: 100%;
  }

  @include element(button) {
    display: block;
    margin: 30px auto;
  }
}

@include block(contact) {
  background: $section-background-white;
  box-sizing: border-box;
  color: $text-black;
  padding: 95px 0px 0px;
  text-align: center;
  width: 100%;
}