
//Main colors
$background-color: #f0f0f0;
$text-white: #fff;
$text-red: #f00;

$gradient-start: #643287;
$gradient-end: #050505;

// Header
$header-background-color: #cdcdcd;

// EarlyAccess
$early-background-color: #787878;

// Icon
$icon-color-white: #f5f5f5;
$icon-color-red: #f52646;
$icon-color-logo: $icon-color-white;

// Image
$image-border-color: #fff;
