
//Main colors
$background-color: #f0f0f0;

$text-black: #050505;
$text-white: #fff;
$text-red: #f00;

// Header
$header-background-color: #cdcdcd;

// EarlyAccess
$early-background-color: #C7C7C7;

// Icon
$icon-color-white: #f5f5f5;
$icon-color-red: #f52646;
$icon-color-logo: $icon-color-white;

// Image
$image-border-color: #fff;
