//Main colors

$blue-dark-2: #343c83;
$blue-dark-1: #2e3887;
$blue: #3772ff;
$blue-light-1: #00f6ff;

$green-accent: #00c274;
$green-accent-light-1: #4eed88;

$text-black: #050505;
$text-white: #fff;
$text-cloudy-blue: #ccd7e1;
$text-red: #f00;

// Sections
$section-background-white: #fff;
$section-background-gray: #f9fafd;

// Header
$header-background-color: rgba(250, 250, 250, .97);

// Icon
$icon-color-white: #f5f5f5;
$icon-color-red: #f52646;
$icon-color-logo: $icon-color-white;
$icon-color-logo-text-active: #393E80;

// Image
$image-border-color: #fff;

// Button
$button-background-color: #4e4e4e;

// Input
$input-border-color: #9e9e9e;

