//Main colors
$blue-dark-2: #171c3f;
$blue-dark-1: #2e3887;
$cerulean: #0268cd;
$blue: #3772ff;
$blue-light-1: #00f6ff;

$green-accent: #00c274;
$green-accent-light-1: #4eed88;
$green-blue: #00c274;

$white: #fff;

$charcoal-grey: #363b40;
$blue-grey: #60778d;

$text-black: #050505;
$text-white: #fff;
$text-cloudy-blue: #ccd7e1;
$text-red: #f00;

// Nav menu
$nav-link-color: #60778d;
$nav-link-color-hover: $cerulean;

// Sections
$section-background-white: #fff;
$section-background-gray: #f9fafd;

// Header
$header-background-color: rgba(250, 250, 250, .97);

// Footer
$footer-divider-color: rgba(250, 250, 250, .15);

// Icon
$icon-color-white: #f5f5f5;
$icon-color-red: #f52646;
$icon-color-logo: $icon-color-white;
$icon-color-logo-text-active: #393e80;
$world-map-color: #eaecf1;
$close-modal-color: #61778D;

// Image
$image-border-color: #fff;

// Button
$button-background-color: #c5c5c5;

// Input
$input-border-color: $text-cloudy-blue;
$input-text-color: $blue-grey;

// Map
$map-controls-background: $blue;
$map-controls-background-hover: $blue-light-1;
$map-controls-border: $blue-dark-1;
$map-controls-text-color: $text-white;

// Menu tabs
$tab-color: $blue-grey;
$tab-color-selected: $cerulean;
$tab-color-hover: $blue-dark-1;
$tab-border-selected-color: $cerulean;