// Header
$header-height-big-screen: 100px;
$header-padding-big-screen: 0 55px;
$header-height-small-screen: 75px;
$header-padding-small-screen: 0 25px;

// Section
$section-paddding-big-screen: 95px 15px;

// Icon
$icon-default-size: 48px;
$icon-logo-width: 35px;
$icon-logo-text-width: 135px;

// Image
$image-border-size: 2px;

// Input
$input-border-size: 1px;
