@import '../variables/index';

@include block('button') {
  appearance: none;
  background: $button-background-color;
  border: 0;
  border-radius: 30px;
  color: $text-white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  outline: none;
  padding: 18px 36px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;

  @include max-screen(768px) {
    font-size: 14px;
    padding: 14px 30px;
  }

  &:focus {
    outline: none;
  }

  @include modifier('green') {
    background: $green-accent;

    &:hover {
      background-color: $green-accent-light-1;
    }
  }

  @include modifier('white') {
    background: $white;
    box-shadow: 0 15px 20px 0 rgba(1, 43, 84, 0.3);
    color: $cerulean;
  }
}
