@import '../variables/index';

@include block('icon') {
  display: inline-block;
  overflow: visible;
  width: $icon-default-size;

  & svg {
    display: block;
    overflow: visible;
  }

  @include modifier('white') {
    fill: $icon-color-white;
  }

  @include modifier('red') {
    fill: $icon-color-red;
  }

  @include element('logo') {
    vertical-align: middle;
    width: $icon-logo-width;
  }

  @include element('logo_text') {
    margin-left: 10px;
    vertical-align: middle;
    width: $icon-logo-text-width;
  }

  @include modifier('youtube') {
    display: inline-block;
  }

  @include modifier('mail') {
    display: inline-block;
  }

  @include modifier('map_marker') {
    display: inline-block;
  }

  @include element('check') {
    border: 2px solid $text-cloudy-blue;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 100px;
    line-height: 90px;
    margin-bottom: 10px;
    width: 100px;

    @include max-screen(370px) {
      height: 85px;
      line-height: 75px;
      margin-bottom: 8px;
      width: 85px;
    }

    & svg {
      display: inline-block;
      stroke: $blue-grey;
      vertical-align: middle;
      width: 42px;
    }

    @include modifier('active') {
      border-color: $cerulean;

      & svg {
        stroke: $cerulean;
      }
    }
  }

  @include element('check_circle') {
    display: inline-block;
    height: 20px;
    opacity: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: opacity .1s ease;
    width: 20px;

    @include modifier('active') {
      opacity: 1;
      visibility: visible;
    }

    @include max-screen(370px) {
      right: 2px;
      top: 2px;
    }
  }

}