@import '~bemify';
@import '../variables/index';

@include block('icon') {
  display: inline-block;
  height: $icon-default-size;
  overflow: visible;
  width: $icon-default-size;

  & svg {
    display: block;
    overflow: visible;
  }

  @include modifier('white') {
    fill: $icon-color-white;
  }

  @include modifier('red') {
    fill: $icon-color-red;
  }

  @include element('logo') {
    fill: $icon-color-logo;
    height: $icon-logo-size;
    width: $icon-logo-size;
    vertical-align: middle;
  }

}
