@import '../variables/index';

@include block('input-block') {
  display: inline-block;

  @include modifier('error') {
    color: red;

    @include element('input') {
      border-color: red;
    }

    @include element('textarea') {
      border-color: red;
    }
  }

  @include modifier('disabled') {
    color: black;
    opacity: .7;
    pointer-events: none;
  }

  @include element('input') {
    border: 0;
    border-bottom: $input-border-size solid $input-border-color;
    color: $input-text-color;
    font-size: 16px;
    outline: none;
    padding: 10px 8px;
    width: $input-width-default;
  }

  @include element('textarea') {
    color: black;
  }

  @include element('label') {
    display: block;
  }

  @include element('error') {
    display: block;
  }
}
