@import '../variables/index';

@include block('link') {
  outline: none;
  text-decoration: none;
}

@include block('button') {
  appearance: none;
  background: $button-background-color;
  border: 0;
  border-radius: 30px;
  box-shadow: none;
  color: $text-white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  outline: none;
  padding: 18px 36px;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  @include modifier('green') {
    background: $green-accent-dark-1;

    &:hover {
      background-color: $green-accent;
    }
  }
}
