@import '../variables/index';

@include block('map') {
  display: block;
  height: 500px;
  width: 100%;
  z-index: 1;

  @include max-screen(1200px) {
    height: 480px;
  }

  @include max-screen(991px) {
    height: 320px;
  }
}

//.leaflet-control-attribution {
//  display: none !important;
//}
//
//
//.leaflet-touch {
//  .leaflet-bar {
//    border: 1px solid $map-controls-border !important;
//
//    a {
//      background-color: $map-controls-background !important;
//      border-color: $map-controls-border !important;
//      color: $map-controls-text-color !important;
//
//      &:hover {
//        background-color: $map-controls-background-hover !important;
//        color: $map-controls-text-color !important;
//      }
//    }
//  }
//}
//
//.leaflet-div-icon {
//  background: transparent !important;
//  border: 0 !important;
//  position: relative !important;
//
//  svg {
//    bottom: 0 !important;
//    display: block !important;
//    height: 50px !important;
//    position: absolute !important;
//    right: -12px !important;
//  }
//}
