@import '~bemify';
@import '../variables/index';

@include block('modal') {

  @include element('overlay') {
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
  }
}