@import '../variables/index';

@include block('navigation') {
  display: inline-block;
  height: 100px;
  vertical-align: top;

  @include element('list') {
    display: inline-block;
    height: 100px;
    margin: 0;
    padding: 0;

    @include element('item') {
      display: inline-block;
      line-height: 100px;
      margin: 0 8px;
      @include element('link') {
        color: $nav-link-color;
        display: inline-block;
        font-size: 17px;
        line-height: 100px;
        margin: 0 8px;
        text-decoration: none;
        &:hover {
          color: $nav-link-color-hover;
          text-decoration: underline;
        }
      }
    }
  }
}
