@import '~bemify';
@import '../variables/index';

@include block('navigation') {
  display: inline-block;
  float: right;
  height: 100px;
  vertical-align: top;

  @include element('list') {
    display: inline-block;
    height: 100px;
    margin: 0;

    @include element('item') {
      display: inline-block;
      line-height: 100px;
      margin: 0 8px;

      @include element('link') {
        color: $text-black;
        display: inline-block;
        font-size: 17px;
        line-height: 100px;
        margin: 0 8px;
        text-decoration: none;
      }
    }
  }
}
