@import '../variables/index';

@include block('tab') {
  display: block;

  @include element(header) {
    display: inline-block;
    list-style: none;

    @include element(link) {
      color: blue;
      display: inline-block;
      margin: 5px 10px;
      cursor: pointer;

      @include modifier(selected) {
        color: red;
      }

    }
  }

  @include element(block) {
    display: block;

    @include modifier(selected) {
      color: green;
    }

    @include element(panel) {
      display: block;

    }
  }

}