@import '~normalize-scss';
@import 'variables/colors';
@import '~react-select/scss/default';

@include normalize();

body {
  background: $background-color;
  color: $text-white;
  font-style: italic;
}

svg {
  display: none;
}