// Reset and dependencies
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/print';
@import 'variables/colors';
@import 'variables/fonts';

* {
  box-sizing: border-box;
}

html, body {
  background: $section-background-white;
  color: $text-black;
  font-family: $font-light;
  overflow-x: hidden;
}

svg {
  display: none;
}