@import '~normalize-scss';
@import 'variables/colors';

@include normalize();

* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $text-white;
  font-family: Verdana;
}

svg {
  display: none;
}