@import '~bemify';

@include block('section') {
  display: block;
  min-height: 50px;
  width: 100%;
  @include element('name') {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 55px;
  }

  @include element('windowScroll'){
    height: 100vh;
  }
}