@import 'utils/animation';
@import 'utils/bem';
@import '~sass-mediaqueries/media-queries';
@import '~bootstrap/scss/bootstrap-grid';
@import 'variables/colors';


@include block('section') {
  display: block;
  min-height: 50px;
  width: 100%;
  @include element('name') {
    color: $blue-dark-1;
    display: inline-block;
    font-size: 52px;
    font-weight: 300;
    margin-bottom: 55px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;

    @include max-screen(1440px) {
      font-size: 45px;
      margin-bottom: 50px;
    }

    @include max-screen(991px) {
      font-size: 40px;
      margin-bottom: 46px;
    }

    @include max-screen(768px) {
      font-size: 32px;
      margin-bottom: 40px;
    }

    @include max-screen(515px) {
      margin-bottom: 36px;
    }
  }

  @include element('windowScroll'){
    height: 100vh;
  }
}

@include block('scroll') {
  display: block;

  @include modifier("disable") {
    pointer-events: none;
    & * {
      pointer-events: none;
    }
  }

}